html, body {
  height: 100%;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: sans-serif;
  min-height: 100vh;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*---------------------Start of CSS Components below----------------------------*/
nav {
  background-color: #fff;
}

.typographyHeader-register {
  font-size: 2rem;
  text-align: center;
  padding: 1rem;
}

.MuiButtonBase-root.btn-register {
  margin-top: 2rem;
  text-align: center;
}

/*---------------------Homepage Card CSS----------------------------*/
.cls-card1-homepage.css-1ri6ub7-MuiPaper-root-MuiCard-root, .cls-card2-homepage.css-1ri6ub7-MuiPaper-root-MuiCard-root, .cls-card3-homepage.css-1ri6ub7-MuiPaper-root-MuiCard-root {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  margin-left: 2rem;
}

/*---------------------Contact Form CSS----------------------------*/
.contact-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  padding-top: 4rem;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.login-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/*---------------------Login Form CSS----------------------------*/
.login-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  padding-bottom: 3rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  margin-top: 2rem;
  margin-bottom: 20px;
}

.login-form h2 {
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/*---------------------Register Form CSS----------------------------*/
.registration-form {
  max-width: 400px;
  margin: 0 auto;
  margin-top: 2rem;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  margin-bottom: 20px;
}

.h2-registrationForm-header {
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
}

input,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn-register button {
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/*---------------------Card CSS----------------------------*/
.grid-cards-container.MuiGrid-root {
  background-color: aliceblue;
  padding: 2rem;
  
}

/*---------------------VideoPlayer iFrame CSS----------------------------*/

/* ResponsiveIframe.css */
.iframe-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
  /* 16:9 aspect ratio (change to suit your needs) */
  margin-bottom: 0;
}

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
}

.aboutus-container.MuiContainer-root {
  margin-top: -70px;
  border: none;
}

.aboutuspage-container.aboutus-container {
  background-color: aliceblue;
}

/*---------------------Footer CSS----------------------------*/
/* Footer.css */
.footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.social-media,
.company-details,
.contact-numbers {
  text-align: center;
}

.social-media {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 50px;

}

/* Add Property Form */
.div-addProperty-form {
  max-width: 400px;
  margin: 0 auto;
  margin-top: 2rem;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input,
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

.addProperty-header-text {
  text-align: center;
}
.div-btn-register {
  text-align: center;
}





